head, body{
    background-color: #9DB8A5;;
}
nav{
    text-align: center;
    background-color: #B7C2A8;
    padding: 10px;  
    border: 2px solid rgb(133, 177, 144);
}

main{
    text-align: center;
    padding: 20px;
}

.tournaments{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
}

.WC27 {
    background-color: #9BB3C9;
    color:white;
    border: 2px solid rgb(112, 167, 204);
    margin: 0; 
    padding: 20px;
    width: 400px;
    height:200px;
}

.WTC27 {
    background-color:#9BB3C9;
    color:white;
    border: 2px solid rgb(112, 167, 204);
    margin: 0; 
    padding: 20px;
    width: 400px;
    height:200px;
    float: none; 
}

.TWC28 {
    background-color: #9BB3C9;
    color:white;
    border: 2px solid rgb(112, 167, 204);
    margin: 0; 
    padding: 20px;
    width: 400px;
    height:200px;
}

.WorldCups{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;  
    
}
.CWC {
    background-color: #9BB3C9;
    color:white;
    border: 2px solid rgb(112, 167, 204);
    margin: 0; 
    padding: 20px;
    width: 400px;
    height: 400px;
    text-align: center;
}

.TWC {
    background-color: #9BB3C9;
    color:white;
    border: 2px solid rgb(112, 167, 204);
    margin: 0; 
    padding: 20px;
    width: 400px;
    height: 400px;
    text-align: center;
}

.WTC {
    background-color: #9BB3C9;
    color:white;
    border: 2px solid rgb(112, 167, 204);
    margin: 0; 
    padding: 20px;
    width: 400px;
    height: 400px;
    text-align: center;
}

.Leagues{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;  
}

.league{
    background-color: #9BB3C9;
    color:white;
    border: 2px solid rgb(112, 167, 204);
    margin: 0; 
    padding: 20px;
    width: 400px;
    height:400px;

}

.players{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;  
}

.player{
    background-color: #9BB3C9;
    color:white;
    border: 2px solid rgb(112, 167, 204);
    margin: 0; 
    padding: 20px;
    width: 400px;
    height:400px;

}

.cricket-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;  
}

.rules{
    background-color: #9BB3C9;
    color:white;
    border: 2px solid rgb(112, 167, 204);
    margin: 0; 
    padding: 20px;
    width: 400px;
    height:400px;

}

.formats{
    background-color: #9BB3C9;
    color:white;
    border: 2px solid rgb(112, 167, 204);
    margin: 0; 
    padding: 20px;
    width: 400px;
    height:400px;

}

.history{
    background-color: #9BB3C9;
    color:white;
    border: 2px solid rgb(112, 167, 204);
    margin: 0; 
    padding: 20px;
    width: 400px;
    height:400px;

}